@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h4>Seja Bem Vindo(a)!</h4>
<h3>Acesse Sua Conta:</h3>
<p>Digite seu CPF/CNPJ:</p>
<input id="Text1" type="text" />
<p>Digite sua SENHA:</p>
<input id="Password" type="password" />
<input id="Button1" type="button" value="Entrar" />