<!DOCTYPE html>
<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-darkly.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <style href="" type="text/css">

    </style>
</head>
<body>
    <div>
        <h2>Let's call it a draw(ing surface)</h2>
        <h2>Diving in</h2>
        <h2>Simple shapes</h2>
        <h2>Canvas coordinates</h2>
        <h3>Canvas coordinates diagram</h3>
        <h2>Paths</h2>
        <textarea id="TextArea1" rows="2" cols="20"></textarea>
        <input id="Button1" type="button" value="button" />
    </div>
</body>
</html>
